.DS_Store

AlarmClock/build/

AlarmClock/Adafruit/Adafruit_EPD/
AlarmClock/Adafruit/Adafruit-GFX-Library/
AlarmClock/Adafruit/Adafruit_BusIO/
AlarmClock/DFMiniMp3/DFMiniMp3/
AlarmClock/FreeRTOS/FreeRTOS-Kernel/
AlarmClock/pico-sdk/


!CMakeLists.txt
!AlarmClock/FreeRTOS/FreeRTOS-Kernel/portable/ThirdParty/GCC/RP2040/include/portmacro.h
!AlarmClock/FreeRTOS/FreeRTOS-Kernel/tasks.c
